body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
h1.title {
    font-size: 45px;
    padding-bottom: 30px;
}
.sf-reset h2 {
    font-weight:   bold;
    color:         #FFFFFF;
    /* Font is duplicated of body (sans-serif) */
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    margin-bottom:    10px;
    background-color: #aacd4e;
    padding:          2px 4px;
    display:          inline-block;
    text-transform:   uppercase;

}
p {
    line-height:    20px;
    padding-bottom: 20px;
}
ul#demo-list a {
    background: url(../images/blue-arrow.png) no-repeat right 6px;
    padding-right: 10px;
    margin-right:  30px;
}
#symfony-header {
    position: relative;
    padding: 30px 30px 20px 30px;
}
.sf-reset .symfony-blocks-welcome {
    overflow: hidden;
}
.sf-reset .symfony-blocks-welcome > div {
    background-color: whitesmoke;
    float:            left;
    width:            245px;
    margin-right:     14px;
    text-align:       center;
    padding:          26px 20px;
}
.sf-reset .symfony-blocks-welcome > div.block-demo {
    margin-right: 0;
}
.sf-reset .symfony-blocks-welcome .illustration {
    padding-bottom: 20px;
}
.sf-reset .symfony-blocks-help {
    overflow: hidden;
}
.sf-reset .symfony-blocks-help {
    margin-top: 30px;
    padding:    18px;
    border:     1px solid #E6E6E6;
}
.sf-reset .symfony-blocks-help > div {
    width:        254px;
    float:        left;
}
.flash-message {
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    background-color: #ffe;
}
.sf-reset .error {
    color: red;
}
#contact_form div {
    height: 40px;
}
#contact_form input[type="text"] {
    width: 195px;
    font-size: 18px;
    border: 1px solid #dadada;
    background: #fff url(data:image/gif;base64,R0lGODlhAQAFAKIAAPX19e/v7/39/fr6+urq6gAAAAAAAAAAACH5BAAAAAAALAAAAAABAAUAAAMESAEjCQA7) repeat-x left top;
    padding: 5px 6px;
    color: #565656;
}
#contact_form button {
    margin: 10px 0 0 0;
    padding: 0;
}
#login label, #contact_form label {
    display: block;
    float: left;
    min-width: 130px;
    font-size: 22px;
}
.sf-reset ul#menu {
    float: right;
    margin-bottom: 20px;
    padding-left: 0;
}
.sf-reset #menu li {
    padding-left: 0;
    margin-right: 10px;
    display: inline;
}
.sf-reset a,
.sf-reset li a {
    color: #08C;
    text-decoration: none;
}
.sf-reset a:hover,
.sf-reset li a:hover {
    color: #08C;
    text-decoration: underline;
}
.sf-reset .symfony-content pre {
    overflow: hidden;
    white-space: pre;
}
.green, .green strong {
    color: rgb(46, 184, 68);
}
.brand {
    min-width: 120px;
    display: inline-block;
}
.model {
    min-width: 60px;
    display: inline-block;
}
.price {
    min-width: 40px;
    display: inline-block;
}
.ccolor {
    min-width: 60px;
    display: inline-block;
}
.add_date {
    min-width: 60px;
    display: inline-block;
    float: right;
}
.sdiv {
    margin: 0 5px 0 5px !important;
    float: left;
}
.slabel {
    display: block;
}
.amazon_price_div span {
    margin: 0 40px 0 40px;
    display: inline-block;
}
.amazon_price_div div.a_head {
    border-bottom: 1px solid gray;
}
.amazon_price_div div.a_head span{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}