{% extends 'AcmeBinderBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {% set products = undeflist(asins) %}
    <h1 class="title">Welcome on <strong>BinderPRO</strong> page!</h1>
    {% if products is defined %}
        <h2>Result of request</h2>
        <div class="block_c">
            <div class="symfony-content">{{ products|raw }}</div>
        </div>
    {% endif %}


    <div class="symfony-blocks-help">
        <div class="block-documentation">
            <ul>
                <li><strong>Resources</strong></li>
                <li><a href="http://symfony.union-progress.com/order/history">History</a></li>
                <li><a href="http://symfony.union-progress.com/order/amazonalert">Amazon Alerter</a></li>
            </ul>
        </div>
        <div class="block-documentation-more">
            <ul>
                <li><strong>Lists</strong></li>
                <li><a href="http://symfony.union-progress.com/order/lists/luxottica">LUXOTTICA</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marchon">MARCHON</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marcolin">MARCOLIN</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/mysafilo">MYSAFILO</a></li>
            </ul>
        </div>
        <div class="block-community">
            <ul>
                <li><strong>New Products</strong></li>
                <li><a href="http://symfony.union-progress.com/order/lists/luxottica/new">LUXOTTICA</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marchon/new">MARCHON</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marcolin/new">MARCOLIN</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/mysafilo/new">MYSAFILO</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var binder = new Binder();
        binder.initEvents();
    </script>
    </div>
{% endblock %}