{% extends "AcmeOrderBundle::layout.html.twig" %}

{% block title "Symfony " ~ "History" %}

{% block content %}
    <div class="symfony-blocks-welcome">
        {% set code = history(result) %}
    </div>

    {% if code is defined %}
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}