{% extends "AcmeOrderBundle::layout.html.twig" %}

{% block title "Symfony " ~ "History" %}

{% block content %}
    <div class="symfony-blocks-welcome">
        {% set brands = getbrands(brands) %}
    </div>
    {% if brands is defined %}
        <div class="block">
            <div class="symfony-content">{{ brands|raw }}</div>
        </div>
    {% endif %}
    <h1>Timeline</h1>
    <div class="block">
        <div class="symfony-content timeline"></div>
    </div>
{% endblock %}