{% extends "AcmeOrderBundle::layout.html.twig" %}

{% block title "Symfony " ~ "Lists" %}

{% block content %}
    <div class="symfony-blocks-welcome">
        {% set codenew = hellocnew(new, site) %}
    </div>

    {% if codenew is defined %}
        <h2>New Models from {{ site }}</h2>
        <div class="block">
            <div class="symfony-content">{{ codenew|raw }}</div>
        </div>
    {% endif %}
{% endblock %}